__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.ipynb_checkpoints/
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.db
*.sqlite3
*.joblib
*.pkl
*.h5
*.csv
*.xlsx
Screenshot*
